<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="pull-right">
      <%= link_to "By Tag", '#' %>
      </li>
      <li class="pull-right">
      <%= link_to "Hot", '#' %>
      </li>
          <li class="active pull-right">
      <%= link_to "Recent", '#' %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
     
  </div>
  <div class="col-md-8">
    <%= render @forum_threads %>
  </div>
</div>
