<div class="container">
  <div class="row">
    <div id="content" class="col-md-9">
      <%= render @posts %>
    </div>
    <div id="sidebar" class="col-md-3">
      <div class="jumbotron">
        <h1> erick blogs </h1>
        <p class="lead">web dev is pretty ok.</p>
      </div>
    </div>
  </div>
</div>
