<div class="row">
  <div class="col-md-12">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"> <%= new_button_for @people.first %> </li>
      </ul>
      <h3> Manage People </h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: 'people/admin_grid', locals: { people: @people } %>
  </div>
</div>
