<div class="row">
  <div class="col-md-12">
    <div class="header">
      <h3> New Person </h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 form-container">
    <%= render partial: 'form', locals: { person: @person } %>
  </div>
</div>

