<table class='table table-hover table-condensed'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody style="font-size: 14px;">
  <% forum_categories.each do |cat| %>
    <tr>
    <td><%= link_to cat.title, forum_category_path(cat) %></td>
    <td><%= cat.description %></td>
    <td>
      <%= grid_edit_button_for cat%>
      <%= grid_destroy_button_for cat%>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

