<div class="row">
  <div class="col-md-12">
    <div class="header">
      <span class="pull-right">
        <%= new_forum_category_button %>
      </span>
      <h3> Manage Forum Categories</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: 'forum_categories/admin_grid', locals: { forum_categories: @forum_categories } %>
  </div>
</div>
