<div class="row">
  <div class="col-md-12">
    <div class="header">
      <span class="pull-right">
        <%= new_forum_button %>
      </span>
      <h3> Manage Forum Categories</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: 'forums/admin_grid', locals: { forums: @forum_categories } %>
  </div>
</div>
