<div class="blog-post-partial">
  <div class="row">
    <div class="col-md-12">
      <div class="header">
        <%= render partial: 'blog_posts/admin_button', locals: { blog_post: blog_post, btn_group_class: 'pull-right' } %>

        <%= link_to "<h3>#{blog_post.title}</h3>".html_safe, blog_post_path(blog_post) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 blog-post-body">
      <%= blog_post.body_html.html_safe %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
      <span class="pull-right author-signature">- <em><%= blog_post.author.email %></em></span>
    </div>
  </div>
  <br />
  <br />
</div>
