<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <a href="#"><h3><%= blog_post.title %></h3></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= blog_post.body %>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="border-top: #eeeeee; padding-top: 20pxj">
    footer!
  </div>
</div>
