<div class="row">
  <div class="col-md-12">
    <div class="header" style="margin-top: 20px">
      <%= render partial: 'blog_posts/admin_button', locals: { blog_post: @post, btn_group_class: 'pull-right' } %>
      <h3> Edit Post </h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 form-container">
    <%= render partial: 'form', locals: { post: @post } %>
  </div>
</div>
<script>
var opts = {
  container: "epiceditor",
  textarea: "blog-post-body-text",
  basePath: "epiceditor",
  clientSideStorage: false,
  localStorageName: "epiceditor",
  useNativeFullscreen: true,
  file: {
    name: "epiceditor",
    autoSave: 100
  },
  theme: {
    base: '../../../../assets/epic_editor/themes/base/epiceditor.css',
    preview: '../../../../assets/epic_editor/themes/preview/github.css',
    editor: '../../../../assets/epic_editor/themes/editor/epic-light.css'
  },
  button: {
    preview: true,
    fullscreen: true,
    bar: "auto"
  },
  autogrow: {
    minHeight: 400
  },
  focusOnLoad: false
};
var editor = new EpicEditor(opts).load();
</script>
