<div class="row">
  <div class="col-md-12">
    <div class="header">
      <span class="pull-right">
        <%= new_large_primary_button_for @blog_posts %>
      </span>
      <h3> Manage Blog Posts </h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: 'blog_posts/admin_grid', locals: { blog_posts: @blog_posts } %>
  </div>
</div>
