<h2> New Post </h2>
<%= form_for @post  do |f| %>
  <div class="row-fluid">
    <div class="form-group">
      <%= f.text_field :title, { placeholder: 'Title', class: 'form-control' } %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="form-group">
      <%= f.text_area :body, { placeholder: 'Write something!', class: 'form-control', rows: '15' } %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="form-group">
      <%= f.submit 'Post', { class: 'btn btn-primary form-control' } %>
    </div>
  </div>
<% end %>
