<div class="row-fluid">
  <div class="col-md-12">
    <div class="header" style="margin-top: 20px">
      <h3> New Post </h3>
    </div>
  </div>
</div>

<%= render partial: 'form', locals: { post: @post } %>
