/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'twitter/bootstrap';

span.glyphicon {
  top: 0px;
}

table.table-condensed {
  span.label {
    position: relative;
    top: 5px;
  }
}

div.admin-content {
  background-color: #f8f8f8;
  margin-top: 25px;
  padding-top: 25px;
  border: 1px #e7e7e7 solid;

  div.row {
    margin-left: 0px;
    margin-right: 0px;

    div.form-container {
      margin-top: 20px;
    }
  }
}

#landing-pages-index {
  div.blog-post-admin-button-partial {
    position: relative;
    right: 100px;
    z-index: 1000;
  }
}
