<div class="forum-thread-collapsed-min">
  <div class="row content">
    <div class="col-md-10 main">
      <div class="row">
        <div class="col-md-12">
          <h6><span class="badge" style="background-color: red"><span class="glyphicon glyphicon-fire"></span></span> <%= link_to forum_thread.title, '#' %>
            <span class="pull-right"><%= render_sample_forum_thread_tag(forum_thread) %></span>
        </h6>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <%= link_to "Reply", forum_thread_path(forum_thread), { class: 'btn btn-default pull-right' } %>
    </div>
  </div>
</div>
