<%= render 'shared/dashboard_header' %>

<%= content_for :content do %>
<div class="container" style="background-color: #f8f8f8; margin-top: 25px; border: 1px #e7e7e7 solid;">
    <%= yield %>
</div>
<% end %>


<%= render template: "layouts/application" %>
